.container-edit, .photoFrames {
  width: 80%;
  margin-left: 10%;
}

#edittitle {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 6%;
}

.photoFrames {
  width: 60%;
  padding-left: 20%;
}

.frames-edit {
  border: 1px solid grey;
  background-size: 40%;

}

.mainPhoto-edit, .subPhoto1, .subPhoto2, .subPhoto3 {
  margin-right: 12px;
}


.houseinput-user {
  width: 75%;
  margin-top: 10%;
  margin-left: 26%;
}

.houseexam-admin {
  width: 75%;
  margin-top: 10%;
  margin-left: 26%;
}

#status {
  margin-bottom: 30px;
}

#labelstatus {
  margin-right: 10px;
}


.houseexam2-admin {
  width: 75%;
  margin-top: 5%;
  margin-left: 26%;
}


.form-control {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  width: 58%;
  /* border: 1px solid #2E8B56;
  color: #2E8B56; */
  border: 1px solid grey;
  color: grey;
  display: grid;
  /* grid-template-columns: auto; */
  border-radius: 5px;
}


.submitBtn-edit {
  border: 2px solid #2E8B56;
  color: #2E8B56;
  width: 200px;
  border-radius: 45px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  margin-left: 37%;
}

.submitBtn:hover {
  background-color: #2E8B56;
  color: white;
}
