.houseContainer {
  display: flex;
  justify-content: center;
  border: 1px red solid;
}

.houseRow {
  text-align: center;
}

.formHouse {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px blue solid;
  /* width: 516px; */
}

.formInput {
  margin-top: 10px;
  background-color: #EEEEEE;
  border: none;
}

#submitBtn {
  width: 176px;
  height: 70px;
}
