* {
  color: #2E8B56;
}

.createForm {
  margin-top: 100px;
}

.form-control {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  width: 360px;
  border: 1px solid #2E8B56;
  color: #2E8B56;
  display: grid;
  grid-template-columns: auto;
}

.select {
  margin-left: 35%;
}

input[type=file] {
  cursor: pointer;
  width: 180px;
  height: 34px;
  overflow: hidden;
}

input[type=file]:before {
  width: 158px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  content: 'Select your photos';
  display: inline-block;
  background: white;
  border: 1px solid #2E8B56;
  color: #2E8B56;
  padding: 0 10px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

.container-form-group {
  margin-left: 10%;
  /* border: 1px solid red; */
}

.frames {
  border: 1px solid #2E8B56;
}

.submitBtn {
  border: 2px solid #2E8B56;
  color: #2E8B56;
  width: 200px;
  border-radius: 45px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  margin-top: 3%;
}

.submitBtn:hover {
  background-color: #2E8B56;
  color: white;
}

.createContainer, .container-photos {
  margin-top: 3%;
  display: grid;
  grid-template-columns: auto auto;
}

.createContainer {
  margin-bottom: 8%;
}

.container-photos {
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}

.container-submitBtn {
  margin-left: 150px;
  /* border: 6px solid grey; */

}

.container-panel {
  margin-top: 3%;
  /* border: 1px solid blue; */
}
