.electrify_container {
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-left: 10%;
  }
  .item_container {
    display: flex;
    margin-top: 4%;
    .img_sub {
      margin-left: 10%;
      display: flex;
      flex-direction: column;

      .electri_box {
        width: 250px;
        height: 198.33px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        // align-items: center;
        margin-bottom: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 108.28px;
          height: 125.23px;
        }
      }
      .electri_text {
        text-align: center;
      }
    }
    .text_sub {
      width: 80%;
      margin-left: 10%;
    .p1, .p2, .p3, .p4 {
      margin-bottom: 5%;
    }
    }
  }
}
