/* .container-house {
  width: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: auto auto;
} */

* {
  font-family: 'Lato', sans-serif;
}


.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.editDelete {
  /* border: 1px solid blue; */
  margin-top: 30px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;

}

.rightBtnborder {
  border-style: none;
  font-size: 18px;
}

.oneHouse {
  border: 1px solid;
  width: 280px;
  height: 500px;
  /* margin-right: 4%; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.top {
  margin-left: 30px;
  margin-top: 30px;
}

.home-status {
  padding-bottom: 28px;
}

.mainPhoto {
  width: 220px;
  height: 220px;
  border: 1px solid black;
}

.home-status {
  text-align: center;
  font-size: 20px;
  margin-bottom: 4px;
}

#status-t, #status-f {
  text-transform: capitalize;
}

#createBtn {
  /* border: 2px solid blue; */
  width: 70px;
  margin-left: 40%;
  margin-top: 75%;
}



.create {
  width: 280px;
  height: 500px;
}

.postingTime {
  font-size: 12px;
  padding: 5%;
}

.summary {
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}



#deletepic {
  border: none;
  width: 30px;
}


.rightBtnborder {
  background-color: #2E8B56;
  /* background-color: #64A466; */
  border: 1px solid #2E8B56;
  /* color: #2E8B56; */
  color: white;
  width: 60px;
  height: 23px;
  border-radius: 45px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 14px;
  /* margin-top: 2%; */
  margin-left: 5px;
  margin-right: 5px;
}

.rightBtnborder:hover {
  background-color: #64A466;
  color: white;
}

.seeLink, .editLink {
  background-color: #2E8B56;
  /* background-color: #64A466; */
  border: 1px solid #2E8B56;
  height: 21px;
  /* color: #2E8B56; */
  color: white;
  width: 8%;
  border-radius: 45px;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}

.linkFont {
  color: white;
}
