* {
  font-family: 'Lato', sans-serif;
}

.houseName {
  text-align: center;
  margin-top: 20px;
}

.status {
  /* border: 5px solid red; */
  text-align: center;
  margin-top: 40px;
  margin-left: 44%;
}

#green, #red {
  font-size: 20px;
  border: 2px solid #A6D5AE;
  border-radius: 20px;
  background-color: #A6D5AE;
  /* margin-left: 44%; */
  /* margin-top: 40px; */
  padding-top: 8px;
  height: 40px;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container-show {
  width: 90%;
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 6%;
  height: auto;
  display: flex;
  flex-direction: auto auto;
  justify-content: space-around;
  font-size: 20px;
}

.container-info, .container-show {
  display: flex;
  grid-column: auto auto;
}

.container-info {
  margin-left: 20px;
}

.infoList-container, .infoData-container {
  padding-top: 40px;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.infoList-container {
  width: 180px;
}

.infoData-container {
  width: 320px;
}

.infoList, .infoData {
  margin-bottom: 15px
}

.crop {
  width: 440px;
  height: 400px;
  overflow: hidden;
  margin-right: 10px;
}

.crop img {
    width: 420px;
    height: 350px;
    margin: 6% 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin: -75px 0 0 -100px; */
}

.info-show {
  width: 200px;
}
