* {
  font-family: 'Lato', sans-serif;
}

.houseName {
  text-align: center;
  margin-top: 20px;
}

.status {
  /* border: 5px solid red; */
  text-align: center;
  margin-top: 40px;
  margin-left: 44%;
}

#green, #red {
  font-size: 17px;
  border: 2px solid #2E8B56;
  border-radius: 20px;
  background-color: #2E8B56;
  height: 30px;
  width: 150px;
  color: white;
  padding-top: 8px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.container-show {
  width: 70%;
  margin-left: 28%;
  margin-top: 6%;
  margin-bottom: 6%;
  height: auto;
  display: flex;
  flex-direction: auto auto;
  /* justify-content: space-around; */
  font-size: 15px;
}

.container-info, .container-show {
  display: flex;
  grid-column: auto auto;
}

.container-info {
  margin-left: 8%;
}

.infoList-container, .infoData-container {

}

.infoList-container {
  width: 160px;
  /* border: 1px solid blue */
}

.infoData-container {
  width: 200px;
  /* border: 1px solid red; */
}

.infoList, .infoData {
  margin-bottom: 10px
}

.crop {
  width: 200px;
  height: 200px;
  /* overflow: hidden; */

}

.crop img {
    width: 200px;
    height: 200px;
    border: 1px solid;
    /* margin: 6% 3%; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* margin: -75px 0 0 -100px; */
}

.info-show {
  /* width: 200px; */
}
