.myaccout-show {
  width: 40%;
  margin-left: 43%;
  font-size: 16px;
}

.myaccount {
  margin-top: 5%;
  margin-bottom: 5%;
  /* margin-left: 40%; */
  text-align: center;
  width: 100%;
}

.myaccount-input {
  margin-bottom: 4px;
}


@media only screen and (max-width: 600px) {

  .myaccout-show {
    width: 40%;
    margin-left: 35%;
    font-size: 16px;
  }

  .myaccount {
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-left: 40%; */
    text-align: center;
    width: 100%;
  }

  .myaccount-input {
    margin-bottom: 4px;
  }

}
