* {
  font-family: 'Lato', sans-serif;
}

.home {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
}

.userinfo {
  border-bottom: 1px solid;
  font-size: 25px;
  height: 80px;
  /* background-color: #64A466; */
}

.houses {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.house {
  /* margin-left: 5%; */
  /* margin-right: 5%; */
}
