$primary-color: #777;

* {
  font-family: 'Muli', sans-serif;
}

.home_container {
  margin-top: 40px;
  margin-left: 230px;
  // margin-right: 257px;

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 22px;
  }
  .subtitle {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.electri_container {
  display: flex;
  flex-direction: column;
  .electri_row {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-content: center;
    margin-bottom: 65px;
  }
  .electri_box {
    width: 200px;
    height: 158px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .electri_items {
    font-size: 16px;
  }
}
