* {
  font-family: 'Lato', sans-serif;
}

.home {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
}

.userinfo {
  font-size: 22px;
  height: 60px;
  /* background-color: #64A466; */
  padding-top: 20px;
  padding-right: 100px;
  text-align: right;
}

.houses {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.house {
  /* margin-left: 5%; */
  /* margin-right: 5%; */
}
