* {
  font-family: 'Lato', sans-serif;
}

.homepage {
  width: 100%;
}

.home {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  width: 100%;
}

.userinfo {
  /* border: 1px solid; */
  width: 20%;
  margin: 5% 2%;
  padding-left: 10px;
  font-size: 30px;
  background-color: #64A466;
}

.userMessage {
  margin-top: 80px;
}

.houses {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  /* border: 5px solid green; */
}

.house {

}
