* {
  font-family: 'Muli', sans-serif;
}

.regLog_container {
  display: flex;
  justify-content: center;
  margin-top: 145px;
}

.regLog_row {
  text-align: center;
}

.regLog_sub_container {
  width: 516px;

}

.title_container, .notifications_container {
  text-align: left;
}

.logo {
  height: 146px;
  width: 146px;
}

.title {
  font-size: 48px;
  margin-top: 32px;
}

.subtitle {
  font-size: 28px;
  margin-top: 38px;
}

.form_container {
  display: flex;
  flex-direction: column;
  color: #868686;
  margin-top: 58px;
}

/* .form_input {
  background: #EEEEEE;
  padding: 8px 16px 6px 16px;
  margin-bottom: 24px;
  border: none;
  height: 46px;
  font-size: 16px;
} */

.btn_container {
  display: flex;
  justify-content: space-between;
}

.btn_item {
  font-size: 14px;
  border: none;
}

.regLog_Container {
   display: flex;
   justify-content: center;
}

.notifications_container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.notifications_checkbox {
  margin-right: 18px;
}

.regLogBtn {
  margin-bottom: 127px;
  font-size: 18px;
  font-weight: 900;
  color: #FFFFFF;
  padding: 16px 15px;
  background-color: #36C255;
  width: 176px;
  height: 70px;
}

.logBtn {
    margin-top: 262px;

}

.regBtn {
   margin-top: 108px;
}
