* {
  font-family: 'Lato', sans-serif;
}


.regLog {
  /* border: 1px solid; */
  /* width: 100%; */
  height: auto;
  /* backgr ound-size: 100% 100%; */
  /* background-image: url(./pic3.jpg), linear-gradient(white, yellow); */
  background-image: url(./pic3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #A6D5AE;
}



/* login input */
.login, .register {
  /* border: 1px solid; */
  position: absolute;
  margin-top: 10%;
  margin-left: 38%;
  width: 500px;

}

#login, #register {
  color: #2E8B56;
  margin-left: 2%;
}

.login-form, .reg-form {
  /* border: 1px red solid; */
  width: 400px;
}

.form-input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  width: 300px;
  border: 2px solid #2E8B56;
  color: #2E8B56;
}

::placeholder {
  color: #2E8B56;
}

.regLogBtn {
  /* background-color: #64A466; */
  border: 2px solid #2E8B56;
  color: #2E8B56;
  width: 150px;
  border-radius: 45px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 20px;
  margin-top: 3%;
}

.regLogBtn:hover {
  background-color: #2E8B56;
  color: white;
}

.leftBtn {
  margin-right: 2%;
  margin-left: 2%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
