.h2 {
  font-size: 28px;
  font-weight: bold;
}

.submitBtn {
  background: #139929;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  color: white;
  justify-content: center;
  text-decoration: none;
  font-weight: 900;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}
