$nav_color :  #E5E5E5;
$nav_font : Muli;

.container_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $nav_color;
  height: 80px;
  font-family: $nav_font;
  align-items: center;
}

.container_logo {
  display: flex;
  align-items: center;
  margin-left: 90px;
  .logo_img {
    height: 50.9px;
    width: 50px;
    margin-top: -10px;
  }
  .logo_text {
    width: 124px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
  }
}

.items_nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  .item_nav {
    margin-left: 20px;
  }

  .logout_btn {
    border-style: none;
    font-size: 16px;
    background-color: $nav_color;
    font-family: $nav_font;
    padding-top: 0px;
  }
}
